{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    

<table class="table" border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>technicien</th>
                <th>terrain</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.id }}</td>
                
                <td>{{ affectation.dateDebut ? affectation.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ affectation.dateFin ? affectation.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ affectation.technicien }}</td>
                <td>{{ affectation.terrain }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endblock %}