{% extends 'base1.html.twig' %}

{% block title %}Affectations index{% endblock %}

{% block body %}
    <h1>Affectations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>technicien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.id }}</td>
                
                <td>{{ affectation.dateDebut ? affectation.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ affectation.dateFin ? affectation.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ affectation.technicien }}</td>
                <td>
                    <a href="{{ path('app_affectations_show', {'id': affectation.id}) }}">show</a>
                    <a href="{{ path('app_affectations_edit', {'id': affectation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
    <h1>Statistiques</h1>
    <canvas id="categories" width="400" height="100"></canvas>

    
 </div>

    <a href="{{ path('app_affectations_new') }}">Create new</a>
     {% block javascripts %}

           
<script>
    let categories = document.querySelector("#categories")
    let categGraph = new Chart(categories, {
        type: "doughnut",
        data: {
            labels: {{ technom|raw }},
            datasets: [{
                label: "Répartition des catégories",
                data: {{ nbr|raw }},
                
            backgroundColor: [
                '#FF6384',
                '#36A2EB',
                '#FFCE56',
                '#4BC0C0',
                '#E7E9ED',
                '#FF9F40',
                '#8E5EA2',
                '#3e95cd',
                '#8e5ea2',
                '#3cba9f',
                '#e8c3b9',
                '#c45850'
            ]
            }]
            
        }
        
    })

   
</script>
{% endblock %}
{% endblock %}
